body {
  background-image: url("../images/Map.jpg");
  padding: 20px;
}

.jumbotron {
  text-align: center;
}

th {
  font-weight: bold;
}

label {
  font-size: 14pt;
}

table {
  font-size: 14pt;
  text-align: left;
}